h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
}
img {
    width: auto;
    height: 30vh;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 16px;
}
figcaption {
    margin-left: 25%;
}